.notification {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(40, 40, 40, 0.9);
  border: 1px solid rgba(80, 80, 80, 0.9);
}

.notification-content {
  color: #ffffff;
}

.control-center {
  background-color: rgba(30, 30, 30, 0.9);
  border: 1px solid rgba(60, 60, 60, 0.9);
}
