* {
    background-image: none;
    transition: none;
}

window {
    background-color: rgba(0, 0, 0, 0.7);
}

button {
    color: #ede5fc;
    background-color: rgba(65, 61, 81, 0.9);
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    min-width: 100px;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-size: 15%;
}

button:hover {
    background-color: rgba(85, 81, 101, 0.95);
    background-size: 45px;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,2);
    background-size: 20%;

}

button:hover#lock {
    border-radius: 40 40 20 40px;
    margin : -40px 10px 10px -40px;
}

button:hover#logout {
    border-radius: 40 20 40 40px;
    margin : 10px 10px -40px -40px;
}

button:hover#suspend {
    border-radius: 40 40 20 20px;
    margin : -40px 10px 10px 10px;
}

button:hover#shutdown {
    border-radius: 20 20 40 40px;
    margin : 10px 10px -40px 10px;
}

button:hover#hibernate {
    border-radius: 40 40 40 20px;
    margin : -40px -40px 10px 10px;
}

button:hover#reboot {
    border-radius: 20 40 40 40px;
    margin : 10px -40px -40px 10px;
}


/* Иконки для кнопок */
#lock {
    background-image: url("/usr/share/wlogout/icons/lock.png"), 
                     url("/usr/local/share/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/usr/share/wlogout/icons/logout.png"), 
                     url("/usr/local/share/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("/usr/share/wlogout/icons/suspend.png"), 
                     url("/usr/local/share/wlogout/icons/suspend.png");
}

#hibernate {
    background-image: url("/usr/share/wlogout/icons/hibernate.png"), 
                     url("/usr/local/share/wlogout/icons/hibernate.png");
}

#shutdown {
    background-image: url("/usr/share/wlogout/icons/shutdown.png"), 
                     url("/usr/local/share/wlogout/icons/shutdown.png");
}

#reboot {
    background-image: url("/usr/share/wlogout/icons/reboot.png"), 
                     url("/usr/local/share/wlogout/icons/reboot.png");
}
